* {
  padding: 0px;
  margin: 0px;
  font-family: 'Times New Roman', Times, serif;
}
.header--head {
  background-color: rgb(48, 156, 244);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: auto;
}
.header--right {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.die-face {
  height: auto;
  width: auto;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  background-color: rgb(236, 234, 234);
  line-height: 1;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.die-pic {
  font-size: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
}
.die-name {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
img {
  height: 130px;
  width: 180px;
}

@media (max-width: 768px) {
  img { 
    height: 70px;
    width: 90px;
  }
  .die-face {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
  }
  .dice-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
h1 {
  font-size: 30px;
}
.gameOver {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgb(48, 156, 244);
  padding: 30px;
}
.gameOver.show {
  display: block;
}
button {
  background-color: #2f4155; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.gameO {
  margin-bottom: 10px;
}
.footer {
  background-color: #f8f8f8;
  padding: 5px;
  flex-shrink: 0;
  text-align: center;
  margin-top: auto;
}

.footer--name {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.footer--name:hover {
  text-decoration: underline;
}

.footer--copyright {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  color: #777;
}

